<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/">
    {{ form.csrf_token }}
    <div>
    {{ form.dateCreate.label }} {{ form.dateCreate(size=20) }}
    </div>
    <br>
    {{ form.roofType.label }}
    </br>>
    {% for subfield in form.roofType %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
    </div>>
    <input type="submit" value="Go">
</form>
</body>
</html>