<!DOCTYPE html>
<html lang="ru">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
-->
<link rel="stylesheet" href="style.css">
<style>
    div.cite { /* Абзац с классом cite */
    margin-left: 20px; /* Отступ слева */
    border-left: 1px solid navy; /* Граница слева от текста */
    padding-left: 15px; /* Расстояние от линии до текста */
   }
</style>
<head>
    <meta charset="UTF-8">
    <title>Анкета по домашним хозяйствам</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="background-color:#2F80ED!important; height: 60px;">
        <a class="navbar-brand" href="#">
            <img src="/static/img/SERDCE.png" alt="" loading="lazy">
        </a>
    </nav>




    <div class="container">
        <form method="POST" action="/">
            {{ form.csrf_token }}

            <h1>Анкета по домашним хозяйствам <img src="/static/img/alice.png" alt="logo" /></h1>

            <div class="row">
                <div>{{ form.dateCreate.label }} {{ form.dateCreate(size=20) }}</div>
            </div>
            <div class="row">
                    {{ form.roofType.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.roofType %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div>{{ form.electricity.label }} {{ form.electricity(size=20) }}</div>
            <div class="row">
                    {{ form.fuelType.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.fuelType %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.heatType.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.heatType %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.waterSource.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.waterSource %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.waterTime.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.waterTime %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div>{{ form.properties.label }}{{ form.properties}}</div>
            <div>{{ form.incoming.label }} {{ form.incoming(size=20) }}</div>
            <div>{{ form.moneyFoodForHouseHold.label }} {{ form.moneyFoodForHouseHold(size=20) }}</div>
            <div>{{ form.hasCult.label }} {{ form.hasCult(size=20) }}</div>
            <div>{{ form.cultSquare.label }} {{ form.cultSquare(size=20) }}</div>
            <div>{{ form.cultSquare.label }} {{ form.cultSquare(size=20) }} {% for subfield in form.units %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
            </div>
            <div class="row">
                    {{ form.coocking.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.coocking %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div>{{ form.ventil.label }}{{ form.ventil}}</div>
            <div>{{ form.coockingOutside.label }}{{ form.coockingOutside}}</div>
            <h2>Послушайте следующие утверждения и отметьте наиболее подходящий вариант</h2>
            <h3>Как часто возникает то, что вам и членам вашей семьи не хватает еды?</h3>
            <div class="row">
                    {{ form.notEnoughFoodNow.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.notEnoughFoodNow %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.notEnoughFoodYear.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.notEnoughFoodYear %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <h3>Как часто возникало то, что вам и членам вашей семьи не хватало средств на покупку одежды? </h3>
            <div class="row">
                    {{ form.notEnoughClothesNow.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.notEnoughClothesNow %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.notEnoughClothesYear.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.notEnoughClothesYear %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <h3>У вас имеются трудности с оплатой счетов? (за жил. площадь, электричество, теплоснабжение и др.)? </h3>
            <div class="row">
                    {{ form.notEnoughPayNow.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.notEnoughPayNow %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.notEnoughPayYear.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.notEnoughPayYear %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <h3>Чем (из следующего) владеет ваше домашнее хозяйство?</h3>
            <div>{{ form.assets.label }}{{ form.assets}}</div>
            <div class="row">
                    {{ form.incomingPartForFood.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.incomingPartForFood %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <h3>Выберите высказывание, которое наиболее точно описывает финансовые возможности Вашей семьи</h3>
            <div>{{ form.notEnoughForNecessary.label }}{{ form.notEnoughForNecessary}}</div>
            <div>{{ form.necessaryNotExpensive.label }}{{ form.necessaryNotExpensive}}</div>
            <div>{{ form.expensiveSometimes.label }}{{ form.expensiveSometimes}}</div>
            <div>{{ form.expensiveNotVeryExpensive.label }}{{ form.expensiveNotVeryExpensive}}</div>
            <div>{{ form.veryExpensive.label }}{{ form.veryExpensive}}</div>
            <div class="row">
                    {{ form.incomeLevel.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.incomeLevel %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    {{ form.typeHousing.label }}
                    <br>
                    <div class="cite">
                        {% for subfield in form.typeHousing %}
                        <div class="col">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>
            </div>
            <div>{{ form.livingRooms.label }}{{ form.livingRooms}}</div>
            <div>{{ form.livingSquare.label }}{{ form.livingSquare}}</div>
            <input type="submit" value="Go">
        </form>
    </div>

</body>

</html>