<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анкета по домашним хозяйствам</title>
</head>
<body>
<form method="POST" action="/">
    {{ form.csrf_token }}
    <h1>Анкета по домашним хозяйствам</h1>>
    <div>
    {{ form.dateCreate.label }} {{ form.dateCreate(size=20) }}
    </div>
    <div>
    {{ form.roofType.label }}
        <br>
    {% for subfield in form.roofType %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
    </div>
     <div>
    {{ form.electricity.label }} {{ form.electricity(size=20) }}
    </div>
    <div>
    {{ form.fuelType.label }}
        <br>
    {% for subfield in form.fuelType %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
    </div>
    <div>
    {{ form.heatType.label }}
        <br>
    {% for subfield in form.heatType %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
    </div>
    <div>
    {{ form.waterSource.label }}
        <br>
    {% for subfield in form.waterSource %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
    </div>
    <div>
    {{ form.waterTime.label }}
        <br>
    {% for subfield in form.waterTime %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
    </div>
    <div>
    {{ form.properties.label }}{{ form.properties}}
    </div>
    <div>
    {{ form.incoming.label }} {{ form.incoming(size=20) }}
    </div>
    <input type="submit" value="Go">
</form>
</body>
</html>